In [ ]:
import pandas as pd

df = pd.read_csv("13k-recipes.csv")

df = df.drop(["Index", "Ingredients", "Instructions", "Image_Name"], axis=1)

df.head(5)

,Title,Cleaned_Ingredients
0,Miso-Butter Roast Chicken With Acorn Squash Pa...,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher..."
1,Crispy Salt and Pepper Potatoes,"['2 large egg whites', '1 pound new potatoes (..."
2,Thanksgiving Mac and Cheese,"['1 cup evaporated milk', '1 cup whole milk', ..."
3,Italian Sausage and Bread Stuffing,"['1 (¾- to 1-pound) round Italian loaf, cut in..."
4,Newton's Law,"['1 teaspoon dark brown sugar', '1 teaspoon ho..."

In [ ]:
mask = df["Cleaned_Ingredients"].str.contains("basil", case=False, na=False)

results = df[mask]

results.head(5)

,Title,Cleaned_Ingredients
66,Tropi-Cobb Salad,"['1 tsp. ground coriander', '1 tsp. ground cum..."
71,Sweet Corn Frittata With Cherry Tomato Compote,"['2 tablespoons olive oil', '2 cloves of garli..."
72,Tomato Pie With Sour Cream Crust,"['2 cups all-purpose flour, plus a little extr..."
90,Burst Cherry Tomato Pasta,"['½ cup extra-virgin olive oil, plus more for ..."
93,Fancy and Beautiful Tomato Salad,"['1½ lb. heirloom tomatoes (about 3 medium), s..."